.color-box__description{
    color: #1F2041;
	font-family: Quicksand, "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 29px;
}

.color-box__highlighted-text{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-stretch: ultra-expanded;
}