mixin color-box
  include __item/color-box__item.pug
  .color-box
    .color-box__item-position
      +color-box__item('Dark Shade 100%', '#1F2041', 'color_dark-shade-100')
    .color-box__item-position
      +color-box__item('Dark Shade 75%', '#1F2041', 'color_dark-shade-75')
    .color-box__item-position
      +color-box__item('Dark Shade 50%', '#1F2041', 'color_dark-shade-50')
    .color-box__item-position
      +color-box__item('Dark Shade 25%', '#1F2041', 'color_dark-shade-25')
    .color-box__item-position
      +color-box__item('Dark Shade 5%', '#1F2041', 'color_dark-shade-5')
    .color-box__item-position
      +color-box__item('Purple', '#BC9CFF', 'color_purple')
    .color-box__item-position
      +color-box__item('Green', '#6FCF97', 'color_green')